# Ignore everything
*

# Whitelist the following directories and all their subdirectories (but files remain ignored)
# You must whitelist the root directory first, THEN all the subdirectories
# !/
!/week1/
!/week1/**/
!/week2/
!/week2/**/
!/week3/
!/week3/**/
!/week3/
!/week3/**/
!/week4/
!/week4/**/
!/psalmtones/
!/psalmtones/**/
!/skel/
!/skel/**/

# Whitelist files with these extensions in the directories above
!*.md
!*.txt
!*.py
!*.sh
!*.tex
!*.lytex
!*.ly
!*.vim
!*.xlsx

# Whitelist other dot files
!.gitignore

# Whitelist everything in this directory because its files have no extensions

# Re-ignore certain files that were whitelisted with the extensions above
