# LIKE BURNING INCENSE
# Ignore everything
*

# Whitelist the following directories and all their subdirectories (but files remain ignored)
# You must whitelist the root directory first, THEN all the subdirectories
!/week1/
!/week1/**/
!/week2/
!/week2/**/
!/week3/
!/week3/**/
!/week3/
!/week3/**/
!/week4/
!/week4/**/
!/pdf/
!/pdf/**/
!/psalmtones/
!/psalmtones/**/
!/psalmtexts/
!/psalmtexts/**/
!/psalms/
!/psalms/**/
!/skel/
!/skel/**/

# But ignore the out directories
*out/

# Whitelist files with these extensions in the directories above
!Makefile
!*.md
!*.txt
!*.py
!*.sh
!*.tex
!*.lytex
!*.ly
!*.ily
!*.vim
!*.xlsx
!/pdf/*.pdf
